body {
    background-color: #f1f3f5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.badge-card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    /* Alignement à gauche */
    position: relative;
}

.company-logo {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 18%;
    transform: translateX(-50%);
}

.profile-info {
    display: flex;
    width: 100%;
}

.employee-photo {
    width: 120px;
    /* Ajustement de la taille de la photo */
    height: auto;
    /* Ajustement de la taille de la photo */
    /* border-radius: 50%; */
    border: 4px solid #1d2b57;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 30px;
}

.info {
    flex-grow: 1;
}

.document-name {
    background-color: #1d2b57;
    /* Fond bleu */
    color: #ffffff;
    /* Couleur du texte */
    font-size: 22px;
    margin: 0;
    /* Suppression des marges pour un bon alignement */
    text-align: center;
    padding: 10px;
    /* Espacement autour du texte */
    border-radius: 8px;
    /* Arrondi pour le fond */
}

.employee-name {
    font-size: 24px;
    color: #1d2b57;
    margin: 10px 0;
}

.employee-profession {
    font-size: 18px;
    color: #888;
    margin: 5px 0;
}

.employee-id,
.employee-contact,
.employee-email,
.employee-entry-date {
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
    text-align: left;
    /* Alignement à gauche */
}

.btn-print {
    background-color: #1d2b57;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-print:hover {
    background-color: #fabd02;
    color: #1d2b57;
}

.employee-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.employee-qrcode {
    width: 50px;
    /* Ajustement de la taille du QR code */
    height: auto;
    margin-top: 5px;
}