.list-group-item {
    cursor: pointer;
}

.list-group-item.clicked {
    opacity: 0.7;
}

.pointer-btn {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.pointer-btn.success {
    background-color: #28a745;
}

.highlighted-title {
    border-bottom: 2px solid #fabd02;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.central-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/**Design badge avertissement */

.wow-btn {
    background: linear-gradient(45deg, #1d2b57, #fabd02);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

.wow-btn i {
    margin-right: 8px;
}

.wow-btn:hover {
    background: linear-gradient(45deg, #fabd02, #1d2b57);
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.wow-badge {
    background-color: #ffcc00;
    color: #22254b;
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px;
}

.wow-badge i {
    margin-right: 8px;
}

.wow-badge:hover {
    background-color: #ff9933;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}


/* Dans votre fichier CSS */

.pointer-btn {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.point-btn-present {
    background-color: #28a745;
    /* Vert */
}

.point-btn-absent {
    background-color: #dc3545;
    /* Rouge */
}

.status {
    font-weight: bold;
}